@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Criar">
    <input asp-for = "Titulo" type="text"></input>
    <input asp-for = "Descricao" type="text"></input>
    <input type="submit" />
</form>