@model Tarefas.Web.Models.TarefaViewModel

Visualizando tarefa @Model.Id

<table>
    <tr>
        <td>Titulo</td>
        <td>@Model.Titulo</td>       
    </tr>
        <td>Descrição</td>
        <td>@Model.Descricao</td>     
    </tr>