@model TarefaViewModel
@using Tarefas.Web.Models

<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
</style>

<h2>Editando Tarefa @Html.DisplayFor(model => model.Id)</h2>
<body>
    <form asp-controller = "Tarefa" asp-action="Editar" method="post">
      <input type = "hidden" asp-for="Id"/>
        <div>
            <label asp-validation-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
            <input type="text" asp-for="Titulo"/>
        </div>
      
        <div>
            <label asp-validation-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
            <input type="text" asp-for="Descricao"/>
        </div>
        <div>
            <label asp-for="Status">@Html.DisplayNameFor(model => model.Status)</label>
            <select type="text" asp-for="Status">
        <option value="Pendente">Pendente</option>
        <option value="Em Progresso">Em Progresso</option>
        <option value="Finalizado">Finalizado</option>
        </select>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div> 
      <button type="submit">Editar</button>
    </form>
</body>
</html>